.log-row {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #fbfbfb;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(40, 40, 40, 0.2), 0 0 3px rgba(40, 40, 40, 0.14),
  0 2px 3px rgba(40, 40, 40, 0.12);
}
