.log-row {
  display: flex;
  align-items: center;

  .number {
    opacity: 0.4;
  }

  .content {
    width: 100%;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(40, 40, 40, 0.2), 0 0 3px rgba(40, 40, 40, 0.14),
    0 2px 3px rgba(40, 40, 40, 0.12);

    .query {
      border-radius: 3px;
      background-color: #f1f6fb;
      border: 1px solid #dae7f4;
      padding: 0.5rem;
      font-size: 18px;
    }

    .metadata {
      opacity: 0.5;
      display: flex;
      justify-content: space-between;
      padding-top: 0.5rem;
      font-size: 12px;
    }
  }
}
