.app {
  display: flex;

  .sidebar {
    flex-shrink: 0;
    border-right: 1px solid #DBDBDB;
    background-color: white;
    height: 100%;
    width: 15rem;
    overflow: auto;
  }

  .main {
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  .logo {
    padding-right: 1rem;
    width: 30px;
    height: 30px;
  }

  .title {
    font-size: 24px;
    font-weight: 200;
  }
}
