.sidebar {
  flex-shrink: 0;
  border-right: 1px solid #DBDBDB;
  background-color: #fcf7f7;
  height: 100%;
  width: 15rem;
  overflow: auto;

  .sidebar__header {
    height: 4rem;
    display: flex;
    align-items: center;
    opacity: 0.5;
    font-weight: bold;
    font-size: 20px;
    padding-left: 1rem;
    border-bottom: 1px solid #DBDBDB;
    background-color: white;
  }

  .service {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #DBDBDB;
    padding: 1rem;
    display: flex;

    .badge {
      opacity: 0.6;
      margin-left: 1rem;
    }

    &.selected {
      font-weight: bold;
      border-left: 0.5rem solid #DBDBDB;
      background-color: #f4f0f0;
    }

    &:hover {
      &:not(.selected) {
        cursor: pointer;
        background-color: #DBDBDB;
      }
    }
  }
}
