.button {
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 3px;
  box-sizing: border-box;
  color: gray;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: lightgray;
}

.button:active {
  position: relative;
  top: 1px;
}

.button[disabled] {
  background: gray;
  border: solid 1px #888;
  color: lightgray;
  cursor: default;
}
