.badge {
  background-color: red;
  border-radius: 12px;
  box-shadow: 1px 1px 1px gray;
  color: white;
  font: 15px/13px Helvetica, Verdana, Tahoma;
  height: 16px;
  min-width: 14px;
  padding: 4px 3px 0 3px;
  text-align: center;
}
